
.is-primary-color {
    color: rgba(0, 145, 112, 1) !important;
}

a.is-primary-color:hover {
    color: rgba(0, 145, 112, 0.4) !important;
}

.is-secondary-color {
    color: rgba(1, 59, 86, 1) !important;
}

a.is-secondary-color:hover {
    color: rgba(1, 59, 86, 0.4) !important;
}


/*------------ paddings ------------*/

.p-t-auto {
  padding-top: auto !important;
}

.p-5 {
  padding: 5px !important;
}

.p-10 {
  padding: 10px !important;
}

.p-15 {
  padding: 15px !important;
}

.p-20 {
  padding: 20px !important;
}
.p-25 {
  padding: 25px !important;
}
.p-30 {
  padding: 30px !important;
}
.p-35 {
  padding: 35px !important;
}
.p-40 {
  padding: 40px !important;
}

/*------------ end.Paddings ------------*/

/*------------ Margins ------------*/
.m-r-10 {
  margin-right: 10px !important;
}

.m-l-7 {
  margin-left: 7px !important;
}

.m-l-40- {
  margin-left: -15px !important;
}



.m-t-10- {
  margin-top: -10px !important;
}
/*------------ end.Margins ------------*/

/*------------ bg COLORS ------------*/

.bg-secondary-alpha-1 {
    background-color: rgba(1, 59, 86, 1) !important;
  }

.bg-secondary-alpha-09 {
    background-color: rgba(1, 59, 86, 0.9) !important;
  }

.bg-secondary-alpha-08 {
    background-color: rgba(1, 59, 86, 0.8) !important;
  }

.bg-secondary-alpha-07 {
    background-color: rgba(1, 59, 86, 0.7) !important;
  }

.bg-secondary-alpha-06 {
    background-color: rgba(1, 59, 86, 0.6) !important;
  }

.bg-secondary-alpha-05 {
    background-color: rgba(1, 59, 86, 0.5) !important;
  }

.bg-secondary-alpha-04 {
    background-color: rgba(1, 59, 86, 0.4) !important;
  }

.bg-secondary-alpha-03 {
    background-color: rgba(1, 59, 86, 0.3) !important;
  }

.bg-secondary-alpha-02 {
    background-color: rgba(1, 59, 86, 0.2) !important;
  }

.bg-secondary-alpha-01 {
    background-color: rgba(1, 59, 86, 0.1) !important;
  }


.bg-primary-alpha-1 {
    background-color: rgba(0, 145, 112, 1) !important;
  }

.bg-primary-alpha-09 {
    background-color: rgba(0, 145, 112, 0.9) !important;
  }

.bg-primary-alpha-08 {
    background-color: rgba(0, 145, 112, 0.8) !important;
  }

.bg-primary-alpha-07 {
    background-color: rgba(0, 145, 112, 0.7) !important;
  }

.bg-primary-alpha-06 {
    background-color: rgba(0, 145, 112, 0.6) !important;
  }

.bg-primary-alpha-05 {
    background-color: rgba(0, 145, 112, 0.5) !important;
  }

.bg-primary-alpha-04 {
    background-color: rgba(0, 145, 112, 0.4) !important;
  }

.bg-primary-alpha-03 {
    background-color: rgba(0, 145, 112, 0.3) !important;
  }

.bg-primary-alpha-02 {
    background-color: rgba(0, 145, 112, 0.2) !important;
  }

.bg-primary-alpha-01 {
    background-color: rgba(0, 145, 112, 0.1) !important;
  }

.bg-transparent {
  background-color: transparent !important;
}

.bg-black {
  background-color: #000000 !important;
}

.bg-light-gray {
  background-color: rgba(0, 0, 0, 0.05) !important;
}


/*------------ end.bg.COLORS ------------*/

/*------------ Borders ------------*/
.rounded-borders {
  border-radius: 3px !important;
}
/*------------ end.Borders ------------*/

.align-middle {
    vertical-align: middle!important;
}
